---
import SectionContainer from '../Section/SectionContainer.astro';
import SectionGroup from '../Section/SectionGroup.astro';
import SectionDescription from '../Section/SectionDescription.astro';
---

<section class='about container section' id='about'>
	<SectionContainer>
		<SectionGroup>
			<span class='section__subtitle'>ABOUT THE FOOD RESTAURANT</span>
			<h2 class='section__title'>New Ground with Dishes to be Enjoyed</h2>
		</SectionGroup>
		<SectionGroup>
			<SectionDescription>
				Nisl quam nestibulum ac quam nec odio eleme aucan ligula. Orci varius nat oque pena tibus et urient monte
				nascete ridiculus mus nellentesq um ac qu am nec odio rbine. Nisl quam nestibu aucan ligula.
			</SectionDescription>
			<div class='section__data'>
				<img src='assets/img/girl.jpg' alt='' class='section__img' />
				<div>
					<h3 class='section__data-title'>Willimes James</h3>
					<p class='section__data-description'>Director and Chief Operations Officer</p>
				</div>
			</div>
		</SectionGroup>
	</SectionContainer>

	<div class='about__container grid'>
		<div class='about__item'>
			<img src='assets/img/restaurant-1.jpg' alt='' class='about__img' />

			<div class='about__top'>
				<h3 class='about__top-title'>Restaurant</h3>
			</div>

			<div class='about__hover'>
				<div class='about__hover-data'>
					<h3 class='about__hover-title'>Restaurant</h3>
					<p class='about__description'>
						Nisl quam nestibulum ac quam nec aucan ligula. Orci varius natoque li um ac quam nec odio rbine.
					</p>
					<a href='#reservation' class='button about__btn'> Reserve a Table</a>
				</div>
			</div>
		</div>

		<div class='about__item'>
			<img src='assets/img/restaurant-2.jpg' alt='' class='about__img' />

			<div class='about__top'>
				<h3 class='about__top-title'>Coctail Bar</h3>
			</div>

			<div class='about__hover'>
				<div class='about__hover-data'>
					<h3 class='about__hover-title'>Coctail Bar</h3>
					<p class='about__description'>
						Nisl quam nestibulum ac quam nec aucan ligula. Orci varius natoque li um ac quam nec odio rbine.
					</p>
					<a href='#reservation' class='button about__btn'> Reserve a Table</a>
				</div>
			</div>
		</div>

		<div class='about__item'>
			<img src='assets/img/restaurant-3.jpg' alt='' class='about__img' />

			<div class='about__top'>
				<h3 class='about__top-title'>Private Dining</h3>
			</div>

			<div class='about__hover'>
				<div class='about__hover-data'>
					<h3 class='about__hover-title'>Private Dining</h3>
					<p class='about__description'>
						Nisl quam nestibulum ac quam nec aucan ligula. Orci varius natoque li um ac quam nec odio rbine.
					</p>
					<a href='#reservation' class='button about__btn'> Reserve a Table</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
</style>
