<section class='deals section container'>
	<span class='section__subtitle'>WEEKLY SPECIAL</span>
	<h2 class='section__title'>Best Seller Deals</h2>

	<div class='deals__container grid'>
		<div class='tab__btns'>
			<span class='tab__btn active-tab' data-target='#vegetables'>Fish Vegetables</span>
			<span class='tab__btn' data-target='#vegas'>Buffet Vegas</span>
			<span class='tab__btn' data-target='#grilled'>Fish Fry Grilled</span>
			<span class='tab__btn' data-target='#snacks'>Tasty Snacks</span>
			<span class='tab__btn' data-target='#chicke'>Smoked Chicke</span>
		</div>

		<div class='tab__items'>
			<div class='tab__item active-tab' data-content id='vegetables'>
				<h3 class='deals__title'>Fish With Vegetables</h3>
				<ul class='quality__list'>
					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Fresh & Tasty</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Best in organic foods</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>100 Fresh Ingredients</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Better for your Health</h4>
					</li>
				</ul>

				<div class='deals__price'>
					<p><span>$</span>10.85</p>
					<del>$14.85</del>
				</div>

				<a href='#' class='button'>Add To Cart</a>
			</div>

			<div class='tab__item' data-content id='vegas'>
				<h3 class='deals__title'>Buffet Vegas</h3>
				<ul class='quality__list'>
					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Fresh & Tasty</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Best in organic foods</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>100 Fresh Ingredients</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Better for your Health</h4>
					</li>
				</ul>

				<div class='deals__price'>
					<p><span>$</span>16.85</p>
					<del>$20.85</del>
				</div>

				<a href='#' class='button'>Add To Cart</a>
			</div>

			<div class='tab__item' data-content id='grilled'>
				<h3 class='deals__title'>Fish Fry Grilled</h3>
				<ul class='quality__list'>
					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Fresh & Tasty</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Best in organic foods</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>100 Fresh Ingredients</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Better for your Health</h4>
					</li>
				</ul>

				<div class='deals__price'>
					<p><span>$</span>10.85</p>
					<del>$14.85</del>
				</div>

				<a href='#' class='button'>Add To Cart</a>
			</div>

			<div class='tab__item' data-content id='snacks'>
				<h3 class='deals__title'>Tasty Snacks</h3>
				<ul class='quality__list'>
					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Fresh & Tasty</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Best in organic foods</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>100 Fresh Ingredients</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Better for your Health</h4>
					</li>
				</ul>

				<div class='deals__price'>
					<p><span>$</span>11.85</p>
					<del>$15.85</del>
				</div>

				<a href='#' class='button'>Add To Cart</a>
			</div>

			<div class='tab__item' data-content id='chicke'>
				<h3 class='deals__title'>Smoked Chicke</h3>
				<ul class='quality__list'>
					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Fresh & Tasty</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Best in organic foods</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>100 Fresh Ingredients</h4>
					</li>

					<li class='list__item'>
						<img src='assets/img/check.png' alt='' class='item__img' />
						<h4 class='list__title'>Better for your Health</h4>
					</li>
				</ul>

				<div class='deals__price'>
					<p><span>$</span>10.85</p>
					<del>$14.85</del>
				</div>

				<a href='#' class='button'>Add To Cart</a>
			</div>
		</div>
	</div>
</section>
<script>
	const tabs = document.querySelectorAll('[data-target]'),
		tabContents = document.querySelectorAll('[data-content]');

	tabs.forEach((tab) => {
		tab.addEventListener('click', () => {
			const target = document.querySelector((tab as any).dataset.target);
			tabContents.forEach((tabContent) => {
				tabContent.classList.remove('active-tab');
			});

			target.classList.add('active-tab');

			tabs.forEach((tab) => {
				tab.classList.remove('active-tab');
			});

			tab.classList.add('active-tab');
		});
	});
</script>
