<section class="gallery">
    <div class="gallery__container grid">
      <div class="gallery__item">
        <img
          src="assets/img/photo-gallery-1.jpg"
          alt=""
          class="gallery__img"
        />

        <div class="gallery__hover"></div>
      </div>

      <div class="gallery__item">
        <img
          src="assets/img/photo-gallery-2.jpg"
          alt=""
          class="gallery__img"
        />

        <div class="gallery__hover"></div>
      </div>

      <div class="gallery__item">
        <img
          src="assets/img/photo-gallery-3.jpg"
          alt=""
          class="gallery__img"
        />

        <div class="gallery__hover"></div>
      </div>

      <div class="gallery__item">
        <img
          src="assets/img/photo-gallery-4.jpg"
          alt=""
          class="gallery__img"
        />

        <div class="gallery__hover"></div>
      </div>

      <div class="gallery__item">
        <img
          src="assets/img/photo-gallery-5.jpg"
          alt=""
          class="gallery__img"
        />

        <div class="gallery__hover"></div>
      </div>
    </div>
  </section>