---

---

<section class='home' id='home'>
	<div class='swiper home-swiper container'>
		<div class='swiper-wrapper'>
			<!-- HOME SWIPER 1 -->
			<div class='swiper-slide home__content grid'>
				<div class='home__data'>
					<h3 class='home__subtitle'>Fastest Delivery & Easy Pickup</h3>
					<h1 class='home__title'>Kings Burger</h1>
					<p class='home__description'>Good food starts with good ingridients. We only bring you the best.</p>

					<a href='#menu' class='button'>View Our Menu</a>
				</div>

				<img src='assets/img/slide-1.png' alt='' class='home__img' />
			</div>

			<!-- HOME SWIPER 2 -->
			<div class='swiper-slide home__content grid'>
				<div class='home__data'>
					<h3 class='home__subtitle'>Fastest Delivery & Easy Pickup</h3>
					<h1 class='home__title'>Delicious Food</h1>
					<p class='home__description'>Good food starts with good ingridients. We only bring you the best.</p>

					<a href='#menu' class='button'>View Our Menu</a>
				</div>

				<img src='assets/img/slide-2.png' alt='' class='home__img' />
			</div>

			<!-- HOME SWIPER 3 -->
			<div class='swiper-slide home__content grid'>
				<div class='home__data'>
					<h3 class='home__subtitle'>Fastest Delivery & Easy Pickup</h3>
					<h1 class='home__title'>Food Platter</h1>
					<p class='home__description'>Good food starts with good ingridients. We only bring you the best.</p>

					<a href='#menu' class='button'>View Our Menu</a>
				</div>

				<img src='assets/img/slide-3.png' alt='' class='home__img' />
			</div>

			<!-- HOME SWIPER 4 -->
			<div class='swiper-slide home__content grid'>
				<div class='home__data'>
					<h3 class='home__subtitle'>Fastest Delivery & Easy Pickup</h3>
					<h1 class='home__title'>Garlic Pizza</h1>
					<p class='home__description'>Good food starts with good ingridients. We only bring you the best.</p>

					<a href='#menu' class='button'>View Our Menu</a>
				</div>

				<img src='assets/img/slide-4.png' alt='' class='home__img' />
			</div>
		</div>

		<div class='swiper-pagination'></div>

		<div class='swiper-button-next'>
			<i class='ri-arrow-right-line'></i>
		</div>
		<div class='swiper-button-prev'>
			<i class='ri-arrow-left-line'></i>
		</div>
	</div>
</section>
<!--=============== SWIPER JS ===============-->
<script is:inline src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js'></script>
<!--=============== MAIN JS ===============-->
<script src='/assets/js/main.js' is:inline></script>
<style></style>
