---
import SectionTitle from "../Section/SectionTitle.astro";
---

<section class='menu menu-one section' id='menu'>
    <SectionTitle center>Fast Food Menus</SectionTitle>

	<div class='menu__container container grid'>
		<div class='menu__group grid'>
			<div class='menu__item'>
				<div class='menu__img-wrapper'>
					<img src='assets/img/food-img-1.png' alt='' class='menu__img' />
				</div>

				<div class='menu__data'>
					<h3 class='menu__title'>ShroomBacon Burger</h3>
					<span class='menu__price'>$24.00</span>
					<ul class='menu__rating'>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
					</ul>

					<a href='#' class='menu__btn'>
						<i class='ri-shopping-bag-line'></i>
					</a>
				</div>
			</div>

			<div class='menu__item'>
				<div class='menu__img-wrapper'>
					<img src='assets/img/food-img-2.png' alt='' class='menu__img' />
				</div>

				<div class='menu__data'>
					<h3 class='menu__title'>Zinger Double Burger</h3>
					<span class='menu__price'>$28.00</span>
					<ul class='menu__rating'>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
					</ul>

					<a href='#' class='menu__btn'>
						<i class='ri-shopping-bag-line'></i>
					</a>
				</div>
			</div>

			<div class='menu__item'>
				<div class='menu__img-wrapper'>
					<img src='assets/img/food-img-3.png' alt='' class='menu__img' />
				</div>

				<div class='menu__data'>
					<h3 class='menu__title'>Black Pepper Burger</h3>
					<span class='menu__price'>$22.00</span>
					<ul class='menu__rating'>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
					</ul>

					<a href='#' class='menu__btn'>
						<i class='ri-shopping-bag-line'></i>
					</a>
				</div>
			</div>
		</div>

		<div class='menu__group grid'>
			<div class='menu__item'>
				<div class='menu__img-wrapper'>
					<img src='assets/img/food-img-4.png' alt='' class='menu__img' />
				</div>

				<div class='menu__data'>
					<h3 class='menu__title'>Margherita Pizza</h3>
					<span class='menu__price'>$23.00</span>
					<ul class='menu__rating'>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
					</ul>

					<a href='#' class='menu__btn'>
						<i class='ri-shopping-bag-line'></i>
					</a>
				</div>
			</div>

			<div class='opening'>
				<h3 class='opening__title'>OPENING TIMES</h3>

				<dl class='opening__list'>
					<dt>Mon</dt>
					<dd>17:00 to 23:00</dd>
					<dt>Tue</dt>
					<dd>17:00 to 23:00</dd>
					<dt>Wed</dt>
					<dd>17:00 to 23:00</dd>
					<dt>Thu</dt>
					<dd>17:00 to 23:00</dd>
					<dt>Fri</dt>
					<dd>16:00 to 24:00</dd>
					<dt class='close'>Sat-Sun</dt>
					<dd class='close'>Closed</dd>
				</dl>

				<div class='opening__data'>
					<a href='callto: +1234567891'><h3>+1 234 567 891</h3></a>
					<h4 class='opening__description'>Avenue New Town 124 United State</h4>
				</div>
			</div>
		</div>

		<div class='menu__group grid'>
			<div class='menu__item'>
				<div class='menu__img-wrapper'>
					<img src='assets/img/food-img-5.png' alt='' class='menu__img' />
				</div>

				<div class='menu__data'>
					<h3 class='menu__title'>Crispy Chicken Burger</h3>
					<span class='menu__price'>$18.00</span>
					<ul class='menu__rating'>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
					</ul>

					<a href='#' class='menu__btn'>
						<i class='ri-shopping-bag-line'></i>
					</a>
				</div>
			</div>

			<div class='menu__item'>
				<div class='menu__img-wrapper'>
					<img src='assets/img/food-img-6.png' alt='' class='menu__img' />
				</div>

				<div class='menu__data'>
					<h3 class='menu__title'>BBQ Chicken Pizza</h3>
					<span class='menu__price'>$21.00</span>
					<ul class='menu__rating'>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
					</ul>

					<a href='#' class='menu__btn'>
						<i class='ri-shopping-bag-line'></i>
					</a>
				</div>
			</div>

			<div class='menu__item'>
				<div class='menu__img-wrapper'>
					<img src='assets/img/food-img-7.png' alt='' class='menu__img' />
				</div>

				<div class='menu__data'>
					<h3 class='menu__title'>Pepperoni Classic Pizzar</h3>
					<span class='menu__price'>$19.00</span>
					<ul class='menu__rating'>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
						<li><i class='ri-star-fill'></i></li>
					</ul>

					<a href='#' class='menu__btn'>
						<i class='ri-shopping-bag-line'></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style>

</style>
