<section class="reservation section container" id="reservation">
    <span class="section__subtitle">GET IN TOUCH</span>
    <h2 class="section__title">Reservation Table & Enjoy Dining Table</h2>

    <div class="reservation__container grid">
      <div class="reservation__info">
        <div class="reservation__card">
          <span class="reservation__icon-wrapper">
            <img
              src="assets/img/mobile.svg"
              alt=""
              class="reservation__icon"
            />
          </span>

          <div>
            <h3 class="reservation__card-title">For Booking</h3>
            <span class="reservation__card-data">01 123 456 786</span>
          </div>
        </div>

        <div class="reservation__card">
          <span class="reservation__icon-wrapper">
            <img
              src="assets/img/envelope.svg"
              alt=""
              class="reservation__icon"
            />
          </span>

          <div>
            <h3 class="reservation__card-title">For Private Dining</h3>
            <span class="reservation__card-data">Info@Domain.Com</span>
          </div>
        </div>

        <div class="reservation__card">
          <span class="reservation__icon-wrapper">
            <img
              src="assets/img/location.svg"
              alt=""
              class="reservation__icon"
            />
          </span>

          <div>
            <h3 class="reservation__card-title">Location</h3>
            <span class="reservation__card-data"
              >New Street Town 2512x (U.S)</span
            >
          </div>
        </div>
      </div>

      <form action="" class="reservation__form">
        <div class="reservation__form-div">
          <input
            type="text"
            placeholder="No of Guest"
            class="reservation__form-input"
          />
        </div>

        <div class="reservation__form-group">
          <div class="reservation__form-div">
            <input
              type="text"
              placeholder="Complete Name"
              class="reservation__form-input"
            />
          </div>

          <div class="reservation__form-div">
            <input
              type="text"
              placeholder="Phone No"
              class="reservation__form-input"
            />
          </div>
        </div>

        <div class="reservation__form-group">
          <div class="reservation__form-div">
            <input
              type="text"
              placeholder="mm/dd/yy"
              class="reservation__form-input"
            />
          </div>

          <div class="reservation__form-div">
            <input
              type="text"
              placeholder="00:00 AM"
              class="reservation__form-input"
            />
          </div>
        </div>

        <button class="button reservation__button">Send Message</button>
      </form>
    </div>
  </section>