<section class="services container section" id="services">
    <div class="section__container grid">
      <div class="section__group">
        <span class="section__subtitle">BEST SOLUTIONS</span>
        <h2 class="section__title">We Provide Best Services</h2>
      </div>

      <div class="section__group">
        <p class="section__description">
          Nisl quam nestibulum ac quam nec odio elementu aucan ligula. Orci
          varius natoque pena tibus et maurient monte nascete ridiculus mus
          nellentesque um ac quam nec odio rbine.
        </p>
      </div>
    </div>

    <div class="services__container grid">
      <div class="services__item">
        <div class="services__img-wrapper">
          <img
            src="assets/img/service-1.svg"
            alt=""
            class="services__img"
          />
        </div>

        <h3 class="services__title">Afternoon Tea</h3>
        <p class="services__description">
          Nisl quam nestibulum ac quam nec aucan ligula Orci varius.
        </p>
      </div>

      <div class="services__item">
        <div class="services__img-wrapper">
          <img
            src="assets/img/services-2.svg"
            alt=""
            class="services__img"
          />
        </div>

        <h3 class="services__title">Takeaway & Delivery</h3>
        <p class="services__description">
          Nisl quam nestibulum ac quam nec aucan ligula Orci varius.
        </p>
      </div>

      <div class="services__item">
        <div class="services__img-wrapper">
          <img
            src="assets/img/services-3.svg"
            alt=""
            class="services__img"
          />
        </div>

        <h3 class="services__title">Wine & Cocktails</h3>
        <p class="services__description">
          Nisl quam nestibulum ac quam nec aucan ligula Orci varius.
        </p>
      </div>

      <div class="services__item">
        <div class="services__img-wrapper">
          <img
            src="assets/img/services-4.svg"
            alt=""
            class="services__img"
          />
        </div>

        <h3 class="services__title">Alfresco Dining</h3>
        <p class="services__description">
          Nisl quam nestibulum ac quam nec aucan ligula Orci varius.
        </p>
      </div>
    </div>
  </section>