---
import Layout from '../layouts/Layout.astro';
import AboutPage from '../components/pages/AboutPage.astro';
---

<Layout title='Burger | About'>
	<main class="main">
            <AboutPage />
	</main>
</Layout>

<style>
	.main {
		overflow: hidden;
	}
</style>
