---
import Layout from '../layouts/Layout.astro';
import MenuPage from '../components/pages/MenuPage.astro';
---

<Layout title='Burger | Menu'>
	<main class="main">
            <MenuPage />
	</main>
</Layout>

<style>
	.main {
		overflow: hidden;
	}
</style>
