---
import Layout from '../layouts/Layout.astro';
import ReservationPage from '../components/pages/ReservationPage.astro';
---

<Layout title='Burger | Reservation'>
	<main class="main">
            <ReservationPage />
	</main>
</Layout>

<style>
	.main {
		overflow: hidden;
	}
</style>
