---
import Layout from '../layouts/Layout.astro';
import ServicesPage from '../components/pages/ServicesPage.astro';
---

<Layout title='Burger | Services'>
	<main class="main">
            <ServicesPage />
	</main>
</Layout>

<style>
	.main {
		overflow: hidden;
	}
</style>
