<footer class="footer">
    <div class="footer__container section container grid">
      <div class="footer__content">
        <a href="index.html" class="footer__logo">
          <img src="assets/img/logo.png" alt="" class="footer__logo-img" />
        </a>

        <p class="footer__description">
          All produced by using fresh ingredients and serving up delicious
          food, every time. Including pizza and pasta dishes, as well as fresh
          salads, burgers, steaks, risottos and indulgent desserts
        </p>

        <h3 class="footer__title">Newsletter</h3>

        <p class="newsletter__description">
          Subscribe and Get Recent News and Updates
        </p>

        <div class="footer__subscribe">
          <input
            type="text"
            placeholder="Enter Your Email Address...."
            class="footer__input"
          />

          <button class="button">Subscribe</button>
        </div>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Contact Info</h3>

        <dl class="footer__list">
          <dt>Mon - Thu:</dt>
          <dd>5:00 p.m. - 11:00 p.m</dd>
          <dt>Friday:</dt>
          <dd>4:00 p.m. to 12:00 p.m.</dd>
          <dt>Festivals:</dt>
          <dd>Open Full Day</dd>
        </dl>

        <div class="reservation__card">
          <span class="reservation__icon-wrapper">
            <img
              src="assets/img/mobile.svg"
              alt=""
              class="reservation__icon"
            />
          </span>

          <div>
            <h3 class="reservation__card-title">For Booking</h3>
            <span class="reservation__card-data">01 123 456 786</span>
          </div>
        </div>

        <div class="reservation__card">
          <span class="reservation__icon-wrapper">
            <img
              src="assets/img/envelope.svg"
              alt=""
              class="reservation__icon"
            />
          </span>

          <div>
            <h3 class="reservation__card-title">For Private Dining</h3>
            <span class="reservation__card-data">Info@Domain.Com</span>
          </div>
        </div>

        <div class="reservation__card">
          <span class="reservation__icon-wrapper">
            <img
              src="assets/img/location.svg"
              alt=""
              class="reservation__icon"
            />
          </span>

          <div>
            <h3 class="reservation__card-title">Location</h3>
            <span class="reservation__card-data"
              >New Street Town 2512x (U.S)</span
            >
          </div>
        </div>
      </div>
    </div>

    <p class="footer__copy">
      Created by <span>G0C4R with Astro</span> | Restaurant and BBQ.
    </p>
  </footer>